.QFdev {
    position: relative;
    top: -110mm;
    left: 14mm;
    text-align: left;
}
.FDdev {
    position: relative;
    top: -108mm;
    left: 17mm;
    text-align: left;
}

.DEV {
    font-size: 4mm;
    text-decoration: underline;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
.DEVinfo {
    font-size: 2.5mm;
    margin: 0;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
.cable {
    width: 62mm;
    position: relative;
    top: -45mm;
    left: -19.5mm;
    text-align: center;
    transform: rotate(-90deg);
}
.cableInfo {
    font-size: 4mm;
    margin-block-end: 0em;
    margin: 0;
}
.nPhase {
    width: inherit;
    position: absolute;
    top: 2.5mm;
    font-size: 3mm;
}
.device {
    height: inherit;
    width: 25mm;
}
.deviceBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    width: 33mm;
    height: 100%;
}
.deviceBlock:hover {
    background-color: rgba(144, 191, 238, 0.08);
    border-radius: 10px;
}
.deviceTable {
    position: absolute;
    top: 117.45mm;
    width: inherit;
    background-color: white;
}
.deviceTable1 {
    width: inherit;
    min-height: 6mm;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.deviceTable2 {
    margin-top: -1px;
    min-height: 6mm;
    width: inherit;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lines {
    position: absolute;
    top: 1.6mm;
    height: 17.5mm;
    width: inherit;
    /*z-index: -1;*/
}
.phase {
    height: 4mm;
    position: relative;
    top: -101.8mm;
    left: -1.7px;
}
.inputGrid {
    font-family: ISOCPEUR, sans-serif;
    background-color: transparent;
    font-size: 4mm;
    text-align: center;
    width: 100%;
    border: none;
    margin: 0;
    padding: 0;
}
.setDevice {
    width: inherit;
    position: absolute;
    top: -3mm;
    font-size: 3mm;
}
.delButton {
    width: inherit;
    position: absolute;
    top: -12mm;
    font-size: 3mm;
}
.select {
    font-family: ISOCPEUR, sans-serif;
    font-size: 3.5mm;
    text-align: center;
    width: 15mm;
    height: 100%;
    border: none;
    margin: 0;
    -webkit-appearance:none;
    -moz-appearance: none;
    appearance: none;
}

.select:hover {
    background-color: rgba(127, 255, 212, 0.25);
}

.select:focus {
    background-color: rgba(127, 255, 212, 0.5);
}